@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --beige: #F5F3EC;
    --dark-blue: #1C2C59;
}

html{
    font-size: 62.5%;
    line-height: 1.6;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--beige) ;
    color: var(--dark-blue);
}

.content{
    display: grid;
    grid-template-columns: 1fr;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo{
    width: 50px;
    border: 2px solid green;
}

.nav-items{
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-items > *{
    font-size: 1.6rem;
    padding: 10px ;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--dark-blue);
}

.welcome-section{
    height: calc(100vh - 170px);
    display: grid;
    grid-template: max-content;
    justify-items: center;
    align-content: center;
}

.restaurant-name{
    font-size: 5rem;
}

.restaurant-slogan{
    font-size: 2.5rem;
}

.menu-banner{
    height: calc(100vh - 30px);
    border: 2px solid orangered;
    margin: 20px;
}

.menu-section{
    display: grid;
    grid-template: max-content;
    place-items: center;
    gap:20px;
    border: 2px solid red;
    margin:20px;
}

.beverages-title, .pastries-title{
    font-size: 5rem;
    justify-self: start;
    padding: 20px 70px;
    margin-left: 100px;
}

.pastries-title{
    justify-self: end;
    margin-right: 100px;
}

.beverages-menu, .pastries-menu{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin:20px;
    gap: 250px;
}

.menu-items{
    width: 600px;
    background-color: var(--dark-blue);
    color: var(--beige);
    padding: 60px;
    border-radius: 65px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.beverages-image, .pastries-image{
    border: 2px dotted fuchsia;
}