@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@font-face {
    font-family: 'Bicyclette';
    src: url(./fonts/Bicyclette-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Bicyclette';
    src: url(./fonts/Bicyclette-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Bicyclette';
    src: url(./fonts/Bicyclette-Bold.otf);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --beige: #F5F3EC;
    --white: #FFFFFF;
    --gray: #9ca3af;
    --dark-blue: #1C2C59;
    --yellow: #fde68a;
}

html{
    font-size: 62.5%;
    line-height: 1.6;
}

body{
    font-family: 'Bicyclette','Poppins', sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--beige) ;
    color: var(--dark-blue);
}

.content{
    display: grid;
    grid-template-columns: 1fr;
}

.nav-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--beige);
}

.logo{
    height: 90px;
    width: 150px;
    background-image: url(./icons/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-items{
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-buttons{
    font-family: 'Bicyclette';
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
}

.active{
    padding-bottom: 3px;
    border-bottom: 3px solid var(--dark-blue);
}

.welcome-section{
    height: calc(100vh - 170px);
    display: grid;
    grid-template: max-content;
    justify-items: center;
    align-content: center;
}

.restaurant-name{
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-first{
    font-size: 2rem;
}

.name-second{
    font-size: 5.5rem;
}

.restaurant-slogan{
    font-weight: 700;
    font-size: 2rem;
}

.menu-banner, .about-banner{
    display: grid;
    place-items: center;
    height: calc(100vh - 170px);
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-banner > p, .about-banner > p{
    font-family: 'Bicyclette';
    font-size: 5.5rem;
    font-weight: 700;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-banner{
    background-image: url(./images/menu-banner.jpg); 
}

.about-banner{
    background-image: url(./images/about-banner.jpg);
}

.menu-section, .about-section{
    display: grid;
    grid-template: max-content;
    place-items: center;
    gap:20px;
    margin:20px;
}

.beverages-title, .pastries-title{
    font-family: 'Bicyclette';
    font-size: 5rem;
    font-weight: 700;
    justify-self: start;
    padding: 20px 70px;
    margin-left: 100px;
}

.pastries-title{
    justify-self: end;
    margin-right: 100px;
}

.beverages-menu, .pastries-menu{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin:20px;
    gap: 60px;
}

.menu-items{
    width: 40vw;
    background-color: var(--dark-blue);
    color: var(--beige);
    padding: 100px;
    padding-bottom: 80px;
    border-radius: 65px;
}

.menu-item{
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.beverages-image, .pastries-image, .about-experience-image, .about-menu-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.beverages-image{
    background-image: url(./images/beverage.jpeg);
    border-radius: 65px;
}

.pastries-image{
    background-image: url(./images/pastry.jpg);
    background-position: bottom;
    border-radius: 65px;
}

.about-experience-image{
    background-image: url(./images/experience.jpg);
}

.about-menu-image{
    background-image: url(./images/menus.jpg);
}

.about-note{
    font-family: 'Poppins';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    font-size: 2rem;
    gap: 20px;
    padding:50px;
}

.tagline{
    font-family: 'Playfair Display';
    font-weight: 700;
    padding: 50px;
    font-size: 4rem;
}

.about-menu, .about-experience{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 65vh;   
    gap: 10px;
}
.about-menu-note, .about-experience-note{
    display: grid;
    place-items: center;
    border: 2px solid var(--dark-blue);
}

.context{
    max-width: 70%;
    min-width: 70%;
    margin: auto;
    text-align: left;
}

.title{
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 15px;
}

.description > *{
    font-family: 'Poppins';
    font-weight: 300;
    padding-bottom : 15px;
}

.contact-section{
    height: calc(100vh - 170px);
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 30px;
}

.contact-header{
    font-weight: 700;
    font-size: 3.6rem;
}

.contact-subheader{
    font-family: 'Poppins';
    font-size: 1.3rem;
}

.contact-form{
    font-family: 'Poppins';
    display: grid;
    width: 600px;
    padding: 0px 40px 40px;
    gap: 10px;
}

.form-element{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.form-element > label{
    font-size: 1.4rem;
}

.form-element > label > span{
    font-size: inherit;
    color: var(--gray);
}
.form-element > input{
    color: var(--dark-blue);
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-element > textarea{
    font-family: 'Poppins';
    font-size: 1.6rem;
    min-height: 150px;
    max-height: 300px ;
    resize: vertical;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.sendBtn{
    font-family: 'Bicyclette';
    font-weight: 700;
    margin-top: 20px;
    justify-self: center;
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color:var(--white);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}

.footer{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--beige);
    background-color: var(--dark-blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
}

ion-icon{
    font-size: 2.5rem;
    color: var(--beige);
    padding-left: 20px;
}

.nav-items > button:hover {
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--dark-blue);
}

.sendBtn:hover{
    cursor: pointer;
    background-color: var(--yellow);
}