@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --beige: #F5F3EC;
    --white: #FFFFFF;
    --gray: #9ca3af;
    --dark-blue: #1C2C59;
}

html{
    font-size: 62.5%;
    line-height: 1.6;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--beige) ;
    color: var(--dark-blue);
}

.content{
    display: grid;
    grid-template-columns: 1fr;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo{
    width: 50px;
    border: 2px solid green;
}

.nav-items{
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-items > *{
    font-size: 1.6rem;
    padding: 10px ;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--dark-blue);
}

.welcome-section{
    height: calc(100vh - 170px);
    display: grid;
    grid-template: max-content;
    justify-items: center;
    align-content: center;
}

.restaurant-name{
    font-size: 5rem;
}

.restaurant-slogan{
    font-size: 2.5rem;
}

.menu-banner, .about-banner{
    height: calc(100vh - 30px);
    border: 2px solid orangered;
    margin: 20px;
}

.menu-section, .about-section{
    display: grid;
    grid-template: max-content;
    place-items: center;
    gap:20px;
    margin:20px;
}

.beverages-title, .pastries-title{
    font-size: 5rem;
    justify-self: start;
    padding: 20px 70px;
    margin-left: 100px;
}

.pastries-title{
    justify-self: end;
    margin-right: 100px;
}

.beverages-menu, .pastries-menu{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin:20px;
    gap: 250px;
}

.menu-items{
    width: 600px;
    background-color: var(--dark-blue);
    color: var(--beige);
    padding: 60px;
    border-radius: 65px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.beverages-image, .pastries-image, .about-experience-image, .about-menu-image{
    border: 2px dotted fuchsia;
}

.about-note{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    font-size: 2rem;
    gap: 20px;
    padding:50px;
}

.tagline{
    padding: 50px;
    font-size: 4rem;
}

.about-menu, .about-experience{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 65vh;   
    gap: 10px;
}
.about-menu-note, .about-experience-note{
    display: grid;
    place-items: center;
    border: 2px solid var(--dark-blue);
}

.context{
    max-width: 70%;
    min-width: 70%;
    margin: auto;
    text-align: left;
}

.title{
    font-size: 3rem;
    padding-bottom: 15px;
}

.description > *{
    padding-bottom : 15px;
}

.contact-section{
    height: calc(100vh - 170px);
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 30px;
}

.contact-header{
    font-size: 3.6rem;
}

.contact-subheader{
    font-size: 1.3rem;
}

.contact-form{
    display: grid;
    width: 600px;
    padding: 0px 40px 40px;
    gap: 10px;
}

.form-element{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.form-element > label{
    font-size: 1.4rem;
}

.form-element > label > span{
    font-size: inherit;
    color: var(--gray);
}
.form-element > input{
    color: var(--dark-blue);
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-element > textarea{
    min-height: 150px;
    max-height: 300px ;
    resize: vertical;
    border-radius: 10px;
    border: none;
}

.sendBtn{
    margin-top: 20px;
    justify-self: center;
    padding: 10px 20px;
    font-size: 1.8rem;
    background-color:var(--white);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}